{% extends "base.html" %}

{% block title %}H1Z1 Map{% endblock %}

{% block main_content %}

<div id="map-container">
    <div class="map_overlay">

        <div class="panel panel-default" id="add-player-container">
            <div class="panel-body">
                <form action="" method="POST">
                    <p>Add Your Character</p>
                    <input type="text" name="name" placeholder="Character name" class="form-control" /><br/>
                    <button type="button" class="btn btn-success btn-block">Add Character</button>
                </form>
            </div>
        </div>
        <div class="panel panel-default" id="player-action-container" style="display: none;">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-1">
                        <div class="list-group">
                            <a class="list-group-item" data-tab="update-player-container">
                                <span class="glyphicon glyphicon-user"></span>
                            </a>
                            <a class="list-group-item" data-tab="add-place-container">
                                <span class="glyphicon glyphicon-map-marker"></span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-11">
                        <form action="" method="POST" id="update-player-container">
                            <div class="input-group">
                                <span class="input-group-addon" data-toggle="tooltip" data-placement="bottom" title="Click if you died." id="death-check" data-death="false">
                                    <span class="glyphicon glyphicon-heart" style="color: red;"></span>
                                </span>
                                <input type="text" name="loc" placeholder="/loc" class="form-control" id="location-input" />
                                <span class="input-group-addon"><input type="text" id="color" /></span>
                            </div>
                            <button type="button" class="btn btn-success btn-block">Update</button>
                       </form>
                        <form action="" method="POST" id="add-place-container" style="display: none;">
                            <input type="text" name="name" placeholder="Place Name" class="form-control" />
                            <div class="input-group">
                                <input type="text" name="loc" placeholder="/loc" class="form-control" />
                                <span class="input-group-addon"><input type="text" id="place-color" /></span>
                            </div>
                            <button type="button" class="btn btn-success btn-block">Add Place</button>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

    <div id="map">
        <div class="location" id="location">Location</div>
    </div>

</div>
{% endblock %}

{% block extra_head %}
<link href="{{ STATIC_URL }}vendors/map/css/leaflet.css" rel="stylesheet">
<link href="{{ STATIC_URL }}vendors/map/css/map.css" rel="stylesheet">
<link href="{{ STATIC_URL }}vendors/colorpicker/spectrum.css" rel="stylesheet">
<style type="text/css">
.leaflet-popup-content {
    line-height: 0px;
    margin: 12px 19px;
}
</style>
{% endblock %}

{% block extra_javascript %}
<script src="{{ STATIC_URL }}vendors/map/js/leaflet.js"></script>
<script src="{{ STATIC_URL }}vendors/map/js/Leaflet.MakiMarkers.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendors/colorpicker/spectrum.js"></script>

<script src="{{ STATIC_URL }}js/services.js?version=1"></script>
<script>

    // function addUserMarker() {
    //     // get values from form
    //     var x = document.getElementById("xindex").value;
    //     var z = document.getElementById("zindex").value;
    //     // some conversion here
    //     var lat = (x / 32) +128;
    //     var lng = (z / 32) +128
    //     if (typeof userMarker != 'undefined') {
    //         map.removeLayer(userMarker);
    //     }
    //     userMarker = new L.marker([lat, lng], {icon: crossIcon});
    //     map.addLayer(userMarker);
    // }

    /***  little hack starts here ***/
    L.Map = L.Map.extend({
        openPopup: function(popup) {
            //        this.closePopup();  // just comment this
            this._popup = popup;

            return this.addLayer(popup).fire('popupopen', {
                popup: this._popup
            });
        }
    }); /***  end of hack ***/

    L.RotatedMarker = L.Marker.extend({
      options: { angle: 0 },
      _setPos: function(pos) {
        L.Marker.prototype._setPos.call(this, pos);
        if (L.DomUtil.TRANSFORM) {
          // use the CSS transform rule if available
          this._icon.style[L.DomUtil.TRANSFORM] += ' rotate(' + this.options.angle + 'deg)';
        } else if (L.Browser.ie) {
          // fallback for IE6, IE7, IE8
          var rad = this.options.angle * L.LatLng.DEG_TO_RAD,
          costheta = Math.cos(rad),
          sintheta = Math.sin(rad);
          this._icon.style.filter += ' progid:DXImageTransform.Microsoft.Matrix(sizingMethod=\'auto expand\', M11=' +
            costheta + ', M12=' + (-sintheta) + ', M21=' + sintheta + ', M22=' + costheta + ')';
        }
      }
    });

    L.rotatedMarker = function(pos, options) {
        return new L.RotatedMarker(pos, options);
    };

    var map;
    var client_character_id;
    var characters = {};
    var user_markers = {};
    var player_paths = {};

    function show_location_container(){
        dialog_api.show_dialog(dialog_api.DIALOGS.UPDATE_LOCATION);
        $("#color").spectrum({
            color: "#" + characters[client_character_id]['color']
        });
    }

    function convertLatLng(x, z) {
        var lat = (x / 32) +128;
        var lng = (z / 32) +128;
        return {
            lat: lat,
            lng: lng
        }
    };

    function add_or_login_character() {
        var name = $('#add-player-container input').val();
        $.get('{% url 'api:add_or_login_player' %}', {
                name: name
            }).done(function(json_response) {
                if(!json_response['success']) {

                } else{
                    $('#add-player-container').remove();
                    characters[json_response['result']['id']] = json_response['result']
                    client_character_id = json_response['result']['id'];
                    show_location_container();
                }
            });
    }

    function update_character_location_and_color(id, loc_string, color, death) {
        console.log('Sending String: ' + loc_string);
        $.get('{% url 'api:update_player' %}', {
                id: id,
                loc_string: loc_string,
                color: color,
                death: death
            }).done(function(json_response) {
                console.log(json_response);

                var character = json_response['result'];
                var latest_move = character['current_life_moves'][0];

                if(death == 'true') {
                    kill_character(character['id']);
                    $('#death-check').trigger('click');
                }

                update_player_marker(character['id'],
                                 latest_move['lat'],
                                 latest_move['lng'],
                                 latest_move['heading'],
                                 character['color'],
                                 character['name']);
            });
    }


    function add_marker_to_map(color, destination, name, bearing) {

        var marker = L.rotatedMarker(destination, {
          icon: L.icon({
            iconUrl: '/api/icon/player/?width=24&height=24&color=' + color + '&version=1',
            iconSize: [24, 24]
          }),
          draggable: true
        }).bindPopup(name);
        marker.options.angle = bearing * (180 / Math.PI);
        return marker;
    }

    function add_path_to_map(origin, destination, color) {
        var path = new L.Polyline([origin, destination], {
            color: '#' + color,
            weight: 3,
            opacity: 0.5,
            smoothFactor: 1
        });
        path.addTo(map);

        return path;
    }

    function add_path_to_player(id, path) {
        var paths = [];
        if(player_paths.hasOwnProperty(id)) {
            paths = player_paths[id];
        } 

        paths.unshift(path);
        player_paths[id] = paths;
    }


    function update_player_marker(id, x, z, bearing, color, name) {
        var location = convertLatLng(x, z);
        var destination = new L.LatLng(location.lat, location.lng);
        var marker_exists = user_markers.hasOwnProperty(id);

        if(!marker_exists) {
            console.log('marker does not exist')
            var marker = add_marker_to_map(color, destination, name, bearing);
            marker.addTo(map);
            marker.openPopup();
            user_markers[id] = marker;
            return null
        }
        var marker = user_markers[id];
        var origin = marker.getLatLng();
        if(origin.lat != destination.lat || origin.lng != destination.lng) {
             console.log('marker moved')
            map.removeLayer(marker);
            var marker = add_marker_to_map(color, destination, name, bearing);
            marker.addTo(map);
            marker.openPopup();
            user_markers[id] = marker;

            var path = add_path_to_map(origin, destination, color);
            add_path_to_player(id, path);
        }
        return marker
    }

    function add_paths_to_map(id, paths, color) {
        $.each(paths, function(i) {
            var path_obj = paths[i];

            var origin_location = convertLatLng(path_obj['start']['lat'], path_obj['start']['lng']);
            var origin = new L.LatLng(origin_location.lat, origin_location.lng);
            
            var destination_location = convertLatLng(path_obj['end']['lat'], path_obj['end']['lng']);
            var destination = new L.LatLng(destination_location.lat, destination_location.lng);

            var path = add_path_to_map(origin, destination, color);
            add_path_to_player(id, path);
        });
    }

    function get_all_players() {
        $.get('{% url 'api:get_all_players' %}', {})
            .done(function(json_response) {
                characters = json_response['result'];
                render_all_characters();
            });
    }

    function render_all_characters() {
        $.each(characters, function(i) {
            character = characters[i];
            var latest_move = character['current_life_moves'][0];
            var marker = update_player_marker(character['id'],
                                 latest_move['lat'],
                                 latest_move['lng'],
                                 latest_move['heading'],
                                 character['color'],
                                 character['name']);
            if(marker == null) {
                add_paths_to_map(character['id'], character['paths'], character['color']);
            }
            
        });

    }

    function kill_character(id) {
        var paths = player_paths[id];
        console.log(paths);
        $.each(paths, function(i) {
            var path = paths[i];
            map.removeLayer(path);
        });
        player_paths[id] = [];
        var marker = user_markers[id];
        map.removeLayer(marker);
        delete user_markers[id];
    }

    var terrain = new L.tileLayer('http://h1z1bunker.com/map/mbtiles.php?imgtype=jpg&db=/var/www/h1z1bunker.com/backend/map/terrain_jpg_90.mbtiles&z={z}&x={x}&y={y}', {
        maxZoom: 7,
        minZoom: 2,
        tms: true,
        continuousWorld : true,
        attribution: '',
        opacity: 1
    });

    var none = new L.tileLayer('', {
        maxZoom: 7,
        minZoom: 2,
        tms: true,
        continuousWorld : true,
        attribution: '',
        opacity: 1
    });

    var roads = new L.tileLayer('http://h1z1bunker.com/map/mbtiles.php?imgtype=png&db=/var/www/h1z1bunker.com/backend/map/roads.mbtiles&z={z}&x={x}&y={y}', {
        maxZoom: 7,
        minZoom: 2,
        tms: true,
        continuousWorld : true,
        attribution: '',
        opacity: 1
    });

    var area_names = new L.tileLayer('http://h1z1bunker.com/map/mbtiles.php?imgtype=png&db=/var/www/h1z1bunker.com/backend/map/areanames.mbtiles&z={z}&x={x}&y={y}', {
        maxZoom: 7,
        minZoom: 2,
        tms: true,
        continuousWorld : true,
        attribution: '',
        opacity: 1
    });

    var crossIcon = L.icon({
        iconUrl: 'http://h1z1bunker.com/_include/image/redCross.png',
        iconSize: [50, 50],
        iconAnchor: [26, 26],
        popupAnchor: [-3, 0]

    });

    map = new L.Map("map",{
        crs: L.CRS.Simple,
        zoom: 2,
        maxZoom: 10,
        minZoom: 2,
        center: [20, 0],
        layers: [none, terrain, roads, area_names]
    });
    
    map.panTo(new L.LatLng(128, 128));

    var baseLayers = {
        "None": none,
        "Terrain": terrain
    };
    var overlays = {
        "Roads": roads,
        "Area Names": area_names
    };

    layersControl = new L.Control.Layers(baseLayers, overlays, {
        collapsed: false
    });

    //L.marker([0, 0], {icon: crossIcon}).addTo(map);

    map.addControl(layersControl);
    
    // update location
    map.on('mousemove', function(e) {
        var x = (e.latlng.lat - 128) * 32;
        var z = (e.latlng.lng - 128) * 32;
        var content = 'X = ' + x.toFixed(3) + ' Z = ' + z.toFixed(3);
        var container = document.getElementById('location');
        container.innerHTML = content;
    });

    $('#add-player-container button').on('click', function(e) {
        e.preventDefault();
        add_or_login_character();
    });

    $('#update-player-container button').on('click', function(e) {
        e.preventDefault();
        update_character_location_and_color(client_character_id,
                                            $('#update-player-container input[name="loc"]').val(),
                                            $('#color').spectrum("get").toHexString().replace('#', ''),
                                            $('#death-check').attr('data-death'));
    });

    $('#map-container').on('click', '#death-check', 
        function(e) {
            if($(this).attr('data-death') == 'true') {
                $(this).find('.glyphicon')
                    .addClass('glyphicon-heart')
                    .removeClass('glyphicon-heart-empty')
                    .css('color', 'red');

                $(this).attr('data-death', 'false');
            } else {
                $(this).find('.glyphicon')
                    .addClass('glyphicon-heart-empty')
                    .removeClass('glyphicon-heart')
                    .css('color', 'gray');
                
                $(this).attr('data-death', 'true');
            }
            
        });

    $('#death-check').hover(function() {
        $('#death-check').tooltip('show');
    });

    $('#location-input').on('focus', function() {
        $(this).val('');
    });

    get_all_players();

    {% if request.session.character_name %}
    var character_name = "{{ request.session.character_name }}";
    show_location_container();
    {% else %}
    var character_name = null;
    {% endif %}
    var places_api = new Places(map);

    // var base_location = convertLatLng(880.000, -1712.000);
    // var base_location_latlng = new L.LatLng(base_location.lat, base_location.lng);
    // var baseIcon = L.MakiMarkers.icon({icon: "embassy", color: "#CCC", size: "m"});
    // var marker = L.rotatedMarker(base_location_latlng, {
    //       icon: baseIcon,
    //     }).bindPopup('Base').addTo(map);
    var tid = setInterval(get_all_players, 10000);
    
</script>
{% endblock %}